<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267493390016-d5i5dvtasq5s3pljidq43a0v9md2eg6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267493390016-d5i5dvtasq5s3pljidq43a0v9md2eg6f</string>
	<key>API_KEY</key>
	<string>AIzaSyC3vmECj6HK9u2GAdToXUIrAyFThP-mUk0</string>
	<key>GCM_SENDER_ID</key>
	<string>267493390016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nmcp.challengeWheel</string>
	<key>PROJECT_ID</key>
	<string>challengewheel-4956d</string>
	<key>STORAGE_BUCKET</key>
	<string>challengewheel-4956d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267493390016:ios:a3cda878132722c0c35f25</string>
	<key>DATABASE_URL</key>
	<string>https://challengewheel-4956d.firebaseio.com</string>
</dict>
</plist>